<html> 
    <head>
    <link rel="shortcut icon" href="https://cdn1.savepice.ru/uploads/2019/2/24/cb5bdedd15f6105074c2caa5bf1a0786-full.png" type="image/x-icon">
    <title> Виртуальные кости </title>
    <style>
    body {
        background-color:#d1d8e0;
    }
    </style>
    </head>
    <body>
        <h1><font size="4"><p align="center"> Добро пожаловать в игру "Виртуальные кости" v 1.0 </p> </font></h1>
        <hr>
        {% block content%}  {% endblock %}
        <hr>

        <pre align="center"><em><font size="4"> Количество костей: </pre></font></em>

        <div style="text-align: center;">
        <form method="post">
        <button style="vertical-align: middle; width: 40px; height: 40" name="1" value="Nubex">1</button>
        <button style="vertical-align: middle; width: 40px; height: 40" name="2" value="Nubex">2</button>
        <button style="vertical-align: middle; width: 40px; height: 40" name="3" value="Nubex">3</button>
        <button style="vertical-align: middle; width: 40px; height: 40" name="4" value="Nubex">4</button>
        </form>
        </div>
    </body>
</html>
